<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_user_type.name %>
</p>

<%= link_to 'Edit', edit_api_v1_user_type_path(@api_v1_user_type) %> |
<%= link_to 'Back', api_v1_user_types_path %>
